@import url(./__triangle/kaufman__triangle.css);


.kaufman {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  color: white;
  z-index: 1;
  padding: 90px 0;
}
